<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="http://localhost:3000/team">Notre Team</a>
        <a class="navbar-brand" href="http://localhost:3000/contact">Contact</a>
    </nav>
</header>
</br>
<h1 class="masthead-heading text-uppercase mb-0"> Bienvenue sur The Gossip Project</h1>
</br>
<p> Voici la liste des Gossips </p>