<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="http://localhost:3000/team">Notre Team</a>
        <a class="navbar-brand" href="http://localhost:3000/contact">Contact</a>
    </nav>
</header>
</br>
<div class="div_text_centered">
    <h1>Salut de notre equipe!</h1>
    </br>
    <p>Voici notre equipe !</p>
    </br>
    <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card text-white bg-dark mb-3 h-100">
        <div class="card-body">
          <h5 class="card-title">David</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <a href="https://github.com/dav-ngu">GitHub</a>            
        </div>
      </div>
    </div>

    <div class="col">
          <div class="card text-white bg-dark mb-3 h-100">
              <h5 class="card-title">Wilfried</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <a href="https://github.com/WilfriedPaillot">GitHub</a>
            </div>
          </div>
        </div>
</div>
