<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="http://localhost:3000/team">Notre Team</a>
        <a class="navbar-brand" href="http://localhost:3000/contact">Contact</a>
    </nav>
</header>
</br>
<div class="div_text_centered">
  <h1>Contact</h1>
  </br>
  <p>Comment joindre notre equipe : 06 45 17 85 78!!</p>
  </br>
  <p>Non je déconne... Démerde toi !</p>
  <br>
<div>